

.input-container{
    text-align: center;
    margin: 5px;
}
.label{
    font-size: 13px;
}

.input{
    padding: 4px;
    text-align: center;
    border: 2px solid gray;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
    background-color: #bdbdbd;
    /* color: rgb(151, 151, 31); */
  
}
/* .input:hover{
    transform: scale(1.03);
    transition: 1s;
} */

.btn-container{
    align-items: center;
    text-align: center;
}

.submit-btn{
    margin: 10px;
    padding:  7px 7px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    width: 250px;
    cursor: pointer;
    background-color: #a4508b;
background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
color: white;

}
.submit-btn:hover{
    transform: scale(1.01);
    transition: 1s;
}


.login-container{
    max-width: 350px;
    margin:10px auto;
    
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    color: white;
    border-radius: 20px;
    background-color: #fcfcfc;
    box-shadow: 2px 2px 2px 3px #cc6e9f;
    background-color: #d4418e;
background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
}
.stepper-container{
    margin: 80px 0px;
}

.loginicon-container{
    margin: 50px 30px;
    padding: 30px 50px;
    display: flex;
    justify-content: space-evenly;
}
.icon{
    background-color: white;
    padding: 3px;
    align-items: center;
    text-align: center;
    border: 3px solid ;
    box-sizing: border-box;
    justify-content: center;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;

   
    
}
.icon:hover{
    transform: scale(1.1);
    transition: 1;
    box-shadow: 1px 2px 2px 1px gray;
}


.iconImg{
    margin: 2px;
    width: 30px;
    height: 30px;
}

@media screen and (max-width:600px){
    .login-container{
        width: 100%;
    }
}