  
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

  
  /* Cart Page */

  
  table {
	width: 100%;
	border-collapse: collapse;
	font-size: 16px;
  }
  
  .cart-info {
	display: flex;
	flex-wrap: wrap;
  }
  
  .cart-info span {
	color: #ffff
  }
  
  th {
	text-align: left;
	padding: 0.5rem;
	color: var(--white);
	background-color: var(--primary);
	font-weight: normal;
  }
  
  td {
	padding: 1rem 0.5rem;
  }
  
  td input {
	width: 5rem;
	height: 3rem;
	padding: 0.5rem;
  }
  
  td a {
	color: var(--primary);
	font-size: 1.4rem;
  }
  
  td img {
	width: 8rem;
	height: 8rem;
	margin-right: 1rem;
	border-radius: 15px;
	border:2px solid white
  }
  
  .total-price {
	display: flex;
	justify-content: flex-end;
	align-items: end;
	flex-direction: column;
	margin-top: 2rem;

	
  }
  
  .total-price a {
	display: inline-block;
	background-color: var(--primary);
	color: var(--white);
	padding: 0.7rem 1.6rem;
	font-weight: 700;
	border-radius: 3rem;
	width: 300px;
	text-align: center;
	align-items: center;
	margin: 10px auto;
  }
  
  .total-price table {
	border-top: 3px solid var(--primary);
	width: 100%;
	max-width: 55rem;
  }
  
  td:last-child {
	text-align: right;
  }
  
  th:last-child {
	text-align: right;
  }
  
  @media only screen and (max-width: 567px) {
	.cart-info p {
	  display: none;
	}
  }
  
  
/* 
.cartpage-container{
    margin: 7px;
} */


@media screen and (min-width:1000px) {
    .cartpage-container{
        margin: 150px;
    }
    
}




 