@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');

.reviews{
  padding: 15px;
  max-width: 768px;
  margin: 0 auto;
  font-family: 'El Messiri', sans-serif;
}
.review-by{
    color:blueviolet
}

.review-item{
  background-color: white;
  padding: 15px;
  margin-bottom: 5px;
  box-shadow: 1px 1px 5px #343a40;
}

.review-item .review-date{
  color: #615c5c;
}
.review-item .review-text{
  font-size: 16px;
  font-weight: normal;
  margin-top: 5px;
  color: #343a40;
}



.reviewer{
    width: 70px;
    height: 70px;
    border: 2px solid orchid;
}



@media screen and (max-width:900px){
    .review-image-container{
        display: flex;
        align-items: center;
    }
    .review-item .reviewer{
        width: 40px;
        height: 40px;
    }

    
}