.product-details-container{
    margin: 60px 180px
}
.react-slider__areaZoom{
    
}
.react-slider__picture img{
    max-height: 450px;

}
.policy-div{
    background-color: rgb(219, 215, 215);
    font-size: 14px;
    align-items: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    max-height: 300px;
    /* justify-content: center; */
}
.policy-div hr{
    height: 2px;
    width: 300px;
}


@media screen and (max-width:1300px) {
    .product-details-container{
        margin: 60px 30px
        
    }
    
}
@media screen and (max-width:1000px) {
    .product-details-container{
        margin: 60px 30px
        
    }
    
}

@media screen and (max-width:600px) {
    .product-details-container{
        margin:60px 0px
        
    }
    
}





.color ul {
    display: flex;
    margin: 15px 5px;
  }
  .color li + li {
    margin-left: 15px;
  }
  .colors {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    display: flex;
    justify-content: space-between;
  }
  .color-bdot1 {
    background-color: #59e8c8;
  }
  .color-bdot1:hover, .color-bdot1.active {
    box-shadow: 0 0 0 3px white, 0 0 0 5px #59e8c8;
  }
  .color-bdot2 {
    background-color: #ffee71;
  }
  .color-bdot2:hover, .color-bdot2.active {
    box-shadow: 0 0 0 3px white, 0 0 0 5px #ffee71;
  }
  .color-bdot3 {
    background-color: #6654af;
  }
  .color-bdot3:hover, .color-bdot3.active {
    box-shadow: 0 0 0 3px white, 0 0 0 5px #6654af;
  }
  .color-bdot4 {
    background-color: #343434;
  }
  .color-bdot4:hover, .color-bdot4.active {
    box-shadow: 0 0 0 3px white, 0 0 0 5px #343434;
  }
  .color-bdot5 {
    background-color: #dfdfdf;
  }
  .color-bdot5:hover, .color-bdot5.active {
    box-shadow: 0 0 0 3px white, 0 0 0 5px #dfdfdf;
  }