.headerContainer{

}
.searchContainer{
    width: 100%;
    max-width: 700px;
    height: 40px;
    background-color: rgb(209, 122, 226);
    padding: 1px 3px;
    border-radius: 20px;
    border:2px solid rgb(250, 74, 244);
    box-shadow: -2px 2px -2px 2px orchid;
    background-color: #d4418e;
    background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
    margin: 10px;
}
.searchInput{
    width: 100%;
    border: none;
    background-color: #d4418e;
background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
    border-radius: 20px;
    color: white;
    padding: 2px;
    outline: none;
}
.searchInput:focus{
    border: orchid;
    outline: none;
}
.searchInput:active{
    border: orchid;
    outline: none;
}
.searchIcon{
    color:rgb(247, 241, 247)
}

.desktop-view{
    display: none;
    width: 100%;

}
.mobile-view{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (min-width:800px) {
    .desktop-view{
        display: flex;
    }
    .mobile-view{
        display: none;
    }
    .headerContainer{
        padding:0px 50px ;
    }
    
}
@media screen and (min-width:1200px) {

    .headerContainer{
        padding:0px 100px ;
    }
    
}