.search{
    margin: auto;
    width: 700px;
    font-size: 20px;
}

.account-text{

}
@media screen and (min-width:1300px){

    .headerContainer{
        margin: 0 80px
    }
    .input{
        width: 700px;
        font-size: 20px;
     
    }
    .slider{
        width:100%;
        height:400px
    }
    

}

@media screen and (max-width:600px){
    .account-text{
        display: none;
    }
    
}

