.categorybox{
    /* border:3px solid  #bc52d1; */
    border-radius: 10px;
  
}
.category-header{
    margin:  auto 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.categorybox:hover{
    transform: scale(1.1);
    transition: 1;
    /* box-shadow: 2px 2px 1px 1px #c76cda; */
}

.categoryLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.rounded-category-image{
    width: 70px;
    height: 70px;
    /* border: 2px solid #ae54c0 ; */
    /* box-shadow:-2px 1px 2px 2px #ea8cfd; */
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);

}

@media screen and (max-width:600px){
    .rounded-category-image{
        width: 130px;
        height: 130px;
    }
    
}