.categorybox{
    border:3px solid  #bc52d1;
    border-radius: 10px;
    /* background-image: linear-gradient(315deg, #bc52d1 0%, #871d9c 74%); 
  
    background-color:#bc52d1;   */


}
.categorybox:hover{
    transform: scale(1.1);
    transition: 1;
    box-shadow: 2px 2px 1px 1px #c76cda;
}

