

body{
    /* background: url('');
    background-repeat: repeat; */
    background-color: #cac7c7;
 

/* 
 background-image: linear-gradient(315deg, #c28581 0%, #e469fd 74%); 

background-color:#bc52d1;  */
background-color: #fff;
}
.flexRow{
    display: flex;
}
.flexCol{
    display: flex;
    flex-direction: column;
}
.sb{
    justify-content: space-between;
}
.sa{
    justify-content: space-around;
}
.c-primary{
    background-color: #b643cd;
}
.c-primary-gradiant{
  background-image: linear-gradient(315deg, #bc52d1 0%, #871d9c 74%); 
  
  background-color:#bc52d1;  
  box-shadow: -2px 2px 3px 2px #ec96fd;

}
.t-primary{
  color:#ffff
    
}
.t-secondary{
  color: #b643cd;
}
.bold-500{
  font-weight: 500;
}
.bold-600{
  font-weight: 600;
}
.bold-700{
  font-weight: 700;
}

.font-12{
  font-size: 12px;
}
.font-14{
  font-size: 14px;
}
.font-16{
  font-size: 16px;
}
.font-18{
  font-size: 18px;
}
.font-20{
  font-size: 20px;
}

.mt-70{
  margin-top: 70px;
}
.mt-60{
  margin-top: 60px;
}



/* Footer CSS */


.footer {
    background-color: var(--black);
    padding: 6rem 1rem;
    line-height: 3rem;
  }
  
  .footer-center span {
    margin-right: 1rem;
  }
  
  .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: var(--white);
  }
  
  .footer-center a:link,
  .footer-center a:visited {
    display: block;
    color: #f1f1f1;
    font-size: 1.4rem;
    transition: 0.6s;
  }
  
  .footer-center a:hover {
    color: var(--primary);
  }
  
  .footer-center div {
    color: #f1f1f1;
    font-size: 1.4rem;
  }
  
  .footer-center h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  
  .footer .payment-methods {
    margin-top: 2rem;
  }
  
  @media only screen and (max-width: 998px) {
    .footer-container {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 2rem;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .footer-container {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }
  }


  a{
    text-decoration: none;
    /* color: rgb(216, 215, 215); */
    cursor: pointer;
  
  }

  .pointer{
    cursor: pointer;
  }