
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');




body {
  margin: 0;
  font-family: 'El Messiri', sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.loader{
  justify-content: center;
  text-align: center;
  /* margin: 5%; */
  
}



.logo{
 
 
}
/*Header Css*/


.searchbox{
	border: 3px solid black;
	height: 30px;
	align-items: center;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 18px;
}

.list ListItem{

}

.listItem{
	text-align: center;
	border-bottom: 2px solid black;
	padding: 3px;
	margin-right: 10px;
  color: #f6f7fb;


}
.listItem:hover{
	/* color: rgba(173, 173, 24, 0.966); */
	transform: translate(1.2);
	background-color:rgb(216, 216, 19);
	margin: 0px 15px;
  color: rgb(48, 46, 46);
	
}

.sublistItem{
	margin:0 20px ;
}

.categoryHeader{
	margin: auto;
	text-align: center;
	text-transform: uppercase;
	padding: 10px;
	background-color:  #fce00d;
	border: 2px solid black;
	border-radius: 5px;
	background-image: linear-gradient(326deg, #fce00d 0%, #7c1aaa 74%);
font-weight: 700;
color:white
}


/* product-details page css  */


  
  /* PRODUCT DETAILS */
  
  /* .product-detail {
    margin-top: 2rem;
  } */
  
  .product-detail .details {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 2rem;
  }
  
  .product-detail .left {
    display: flex;
    flex-direction: column;
  }
  
  .product-detail .left .main {
    text-align: center;
    background-color: #dbceca;
    margin-bottom: 2rem;
    height: 45rem;
    padding: 3rem 0;
  }
  
  .imgContainer img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
  
  .product-detail .thumbnails {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
  }
  
  .product-detail .thumbnail {
    height: 10rem;
    background-color: #f6f2f1;
    text-align: center;
  }
  .details-container{

  }
  
  .product-detail .thumbnail img {
    height: 100%;
    object-fit: contain;
  }
  .product-detail .right{
    justify-content: center;
    align-items: center;
  }
  
  .product-detail .right span {
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .product-detail .right h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
  
  .product-detail .right .price {
    font-size: 600;
    font-size: 2rem;
    color: #fce00d;
    margin-bottom: 2rem;
  }
  
  .product-detail .right div {
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  
  .product-detail .right select {
    font-family: "Poppins", sans-serif;
    width: 20rem;
    padding: 0.7rem;
    border: 1px solid var(--grey1);
    appearance: none;
    outline: none;
  }
  
  .product-detail form {
    margin-bottom: 2rem;
  }
  
  .product-detail form span {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    z-index: 0;
  }
  
  .product-detail .form {
    margin-bottom: 3rem;
  }
  
  .product-detail .form input {
    padding: 0.8rem;
    text-align: center;
    width: 3.5rem;
    margin-right: 2rem;
  }
  
  .product-detail .addToCart {
 
    padding: 0.8rem 2rem;
    color:white;
    font-weight: 700;
    border-radius: 1rem;
 margin: 20px 0px;
    cursor: pointer;
    background-color:#a434bb;  
    background-image: linear-gradient(315deg, #db83ec 0%, #a741bb 74%); 
    font-size: 16px;
    /* box-shadow: -2px 1px 2px 2px #ec96fd; */
  }
  .product-detail  .addToCart:hover{
    background-color: #b19f19;

  }
  
  .product-detail h3 {
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  
  @media only screen and (max-width: 996px) {
    .product-detail .left {
      height: 45rem;
    }
  
    .product-detail .details {
      gap: 3rem;
    }
  
    .product-detail .thumbnails {
      gap: 0.5rem;
    }
  
    .product-detail .thumbnail {
      background-color: #f6f2f1;
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 650px) {
    .product-detail .details {
      grid-template-columns: 1fr;
    }
  
    .product-detail .right {
      margin-top: 10rem;
    }
  
    .product-detail .left {
      width: 100%;
      height: 45rem;
    }
  
    .product-detail .details {
      gap: 3rem;
    }
  
    .product-detail .thumbnail {
      width: 6rem;
      height: 6rem;
    }
    .product-detail{
      margin: 0px;
    }


    .react-slider__imgZoom{
      display: none;
    }
  }
  
 

  /* cart page css */



  
  /* Cart Page */
  .cart {
    
    display: flex;
    flex-direction: column;
    color: black;
    }
    
    table {
    width: 95%;
    border-collapse: collapse;
   /* background-color: #e9dee5; */
     /* background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%); */
    /* color: #f6f7fb; */
    color: rgba(56, 55, 55, 0.945);
    }
    
    .cart-info {
    display: flex;
    flex-wrap: wrap;
    }
    
    .cart-info span {
    color: var(--grey2);
    }
    
    th {
    text-align: left;
    padding: 0.5rem;
    color: var(--white);
    background-color: var(--primary);
    font-weight: normal;
    background-image: linear-gradient(315deg, #bc52d1 0%, #a741bb 74%); 
    background-color:#bc52d1;  
    box-shadow: -2px 2px 3px 2px #ec96fd;
    }
    
    td {
    /* padding: 1rem 0.5rem; */
    font-size: 16px;
    font-weight: 600;


    }
    
    td input {
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;
    font-size: 18px;
    text-align: center;
    }
    .checkout-btn{
      color:#fce00d;
      cursor: pointer;
      background-image: linear-gradient(315deg, #bc52d1 0%, #a741bb 74%); 
  
      background-color:#bc52d1;  
      box-shadow: -2px 1px 2px 2px #ec96fd;
      
    }
    td a {
    color: #fce00d;
    font-size: 1.4rem;
    }
    td a:hover{
      cursor: pointer;
    }
    
    td img {
    width: 6rem;
    height: 8rem; 
   margin-right: 1rem;
   /* border: 2px solid white;
   border-radius: 10px; */
    }
     
    .total-price {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-direction: column;
    margin-top: 2rem;
    }
     /*
    .total-price a {
    display: inline-block;
    color: var(--white);
    width: 300px;
    padding: 0.7rem 1.6rem;
    font-weight: 700;
    border-radius: 3rem;
    background-image: linear-gradient(315deg, #bc52d1 0%, #a741bb 74%); 
  
    background-color:#bc52d1;  
    box-shadow: -2px 1px 2px 2px #ec96fd;
    justify-content: center;
    align-items: center;
    }
    .checkout-btn{
      text-align: center;
      align-items: center;
    }
    
     .total-price table {
    border-top: 3px solid var(--primary);
    width: 100%;
    max-width: 35rem;
    } 
    
    td:last-child {
    text-align: right;
    }
    
    th:last-child {
    text-align: right;
    }
    
    @media only screen and (max-width: 567px) {
    .cart-info p {
      display: none;
    }
    }
    
    
  
  
    /* Empty cart css */
  
    .total-price table {
      border-top: 3px solid var(--primary);
      width: 100%;
      max-width: 35rem;
      } 
     .total-price-table{
       width: 100%;
       background-color: rgb(199, 194, 194);

     }

     .coupon-container{
      border-top: 3px solid var(--primary);
      width: 100%;
      max-width: 55rem;
      background-color: #c7c9cf;

     }





